<div class="container main">
    <div class="main-title">
        Wybierz termin i cel podróży:
    </div>
    <div class="dropdowns">
        <mat-form-field appearance="outline">
            <mat-label>Wybierz datę</mat-label>
            <input matInput
                [matDatepicker]="picker"
                [(ngModel)]="selectedDate"
                [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Wybierz kraj</mat-label>
            <mat-select [(ngModel)]="selectedCountry">
                <mat-option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="catastrophes.length === 0" class="button-container">
            <button
                mat-flat-button
                color="primary"
                (click)="checkCatastrophe()">
                Sprawdź zagrożenia!
            </button>
        </div>
    </div>
    <div class="main-chart">
        <app-map></app-map>
    </div>
    <div class="responses">
        <div *ngIf="catastrophes.length > 0">
            <h3>Lista przewidywanych katastrof:</h3>
            <ul>
                <li *ngFor="let catastrophe of catastrophes">
                    <strong>{{ catastrophe.name }}</strong>: {{ catastrophe.probability | number: '1.2-2' }}%
                </li>
            </ul>
        </div>
        <div *ngIf="catastrophes.length === 0 && responseMessage">
            <p>{{ responseMessage }}</p>
        </div>
    </div>
</div>
